@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
@import url('https://fonts.cdnfonts.com/css/hfmonorita');

:root {
  --dark-grey: #202426;
  --dark-green: #6C733D;
  --green: #9DA65D;
  --grey: #8C8C88;
  --white: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
  font-family: 'HFMonorita', sans-serif;
}

h1 {
  font-family: 'HFMonorita Bold', sans-serif;
  font-size: 50px;
  color: var(--dark-grey);
}

/*NAV BAR*/
nav{
  width: 100%;
  background: var(--white);
}

nav ul {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a{
  text-decoration:none;
  margin-right: 100px;
  color:var(--dark-grey);
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: block;
  transition: transform 0.5s ease;
}
nav a:hover {
  transform: translateY(-5px);
  cursor: pointer;
  border-bottom: 2px solid #6b6b6b;
}

/*HEADER*/
#main {
  display: flex;
  height: 85vh;
  align-items: center;
  background-color: var(--green);
}

.container-main {
  padding-bottom: 190px;
  margin: 0px auto;
  width: 980px;
}

.container-main h1 {
  font-size: 70px;
  color: var(--white);
  margin-bottom: -20px;
}


.container-main p {
  font-size: 25px;
  color: var(--white);
  margin-bottom: 50px;
}

.main-button a{
  text-decoration:none;
  width: 210px;
  display: block;
  color: var(--white);
  padding: 0px 10px 5px 2px;
  font-size: 20px;
  transition: transform 0.5s ease;
}

.main-button:hover a{
  transform: translateY(-3px);
  cursor: pointer;
  border-bottom: 1px solid var(--white);
}

/*ABOUT ME*/
#about-me {
  width: 980px;
  margin: 100px auto;
  height: 70vh;
  display: flex;
  justify-content: space-between;
}
.bio {
  width: 50%;
}

.bio h1 {
  font-size: 50px;
  color: var(--dark-grey);
}

.bio p {
  font-size: 20px;
  color: var(--grey);
  line-height: 30px;
  text-align: justify;
}

.profile-photo {
  margin: auto 0;
  display: block;
  justify-content: flex-end;
}

.profile-photo img {
  width: 40vh;
  border-radius: 50%;
}

/*My jorney*/
#jornada {
  width: 980px;
  margin: 100px auto;
  padding-top: 100px;
  justify-content: space-between;
}

.container-jornada {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px -2.5%;
}

.experiencia {
  width: 40%;
  margin: 2.5%;
  padding: 2.5%;
  border-radius: 10px;
  display: flex;
  background-color: var(--green);
  flex-direction: column;
  justify-content: space-between;
}

.container-jornada h2 {
  font-weight: 600;
  font-size: 22px;
  color: var(--white);
  margin-bottom: -10px;
}

.container-jornada h3 {
  font-weight: 400;
  font-size: 15px;
  color: var(--white);
}

.container-jornada li {
  padding-top: 20px;
  color: var(--white);
  font-size: 16px;
}

.container-jornada p {
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
}

/*Projects*/
#contatos {
  width: 980px;
  margin: 100px auto;
  display: block;
  justify-content: space-between;
}

.container-contatos {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px -2.5%;
}


.contato {
  width: 40%;
  margin: 2.5%;
  display: block;
}
.contato h2 {
  font-weight: 500;
  font-size: 22px;
  color: var(--dark-grey);
}

.link {
  transition: transform 0.5s ease;
}

.link a {
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  color: var(--dark-grey);
}

.link a:hover {
  color: var(--green);
}

.link:hover {
  transform: translateY(-3px);
}

html {
  scroll-behavior: smooth;
}
