@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
@import url('https://fonts.cdnfonts.com/css/hfmonorita');

:root {
  --dark-grey: #202426;
  --dark-green: #6C733D;
  --green: #9DA65D;
  --grey: #8C8C88;
  --white: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
  font-family: 'HFMonorita ', sans-serif;
}

nav{
  width: 100%;
  display:block;
  justify-content: center;
  background: var(--white);
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

nav li{
  display:inline;
  padding-right: 80px;
}

nav a{
  text-decoration:none;
  color:var(--dark-grey);
  font-size: 18px;
}

#main {
  margin: 100px 0px 0px 200px;
  display: block;
}

#main h1 {
  font-family: 'HFMonorita Bold', sans-serif;
  font-size: 70px;
  color: #202426;
  margin-bottom: -20px;
}

#main p {
  font-size: 30px;
  color: #6b6b6b;
  margin-bottom: 50px;
}

.main-button {
  width: 110px;
  display: block;
  color: #6b6b6b;
  padding: 0px 10px 5px 2px;
  font-size: 18px;
  transition: transform 0.5s ease;
}

.main-button:hover {
  transform: translateY(-3px);
  cursor: pointer;
  border-bottom: 2px solid #6b6b6b;
}

@media only screen and (max-width: 700px) {
  .nav-bar {
    display: none;
  }

}